@mixin alert() {
    @include flex();
    @include align-items-center();
    padding: 15px 60px;
    background-color: color('feedback', 'info');
    will-change: background-color;

    &--success {
        background-color: color('feedback', 'success-light');
    }
    &--warning {
        background-color: color('feedback', 'warning');
    }
    &--error {
        background-color: color('feedback', 'error');
    }
    &--fixed-top {
        position: fixed;
        width: 100%;
        top: 65px;
        left: 0;
        z-index: 3;
        margin-top: 0;
        @include backface-hack();
    }

    svg {
        width: 25px;
        height: 25px;
        margin-right: 16px;
        fill: color('feedback', 'text');
    }
    &__wrapper {
        @include flex();
        @include align-items-center();
        @include column(12);
        @include limited-full-width();
    }
    &__title {
        font-size: em(17px);
        font-weight: bold;
        color: color('text', 'title');
    }
    &__content {
        font-size: em(16px);
        line-height: 18px;
        color: color('feedback', 'text');
    }
}

@mixin pill() {
    height: 22px;
    padding: 6px 16px 0 16px;
    border-radius: 22px;
    font-size: em(12px);
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    color: color('pill', 'text');

    &--success {
        background-color: color('pill', 'success');
    }
    &--warning {
        background-color: color('pill', 'warning');
    }
    &--error {
        background-color: color('pill', 'error');
    }
    &--info {
        background-color: color('pill', 'info');
    }
}

@mixin banner() {
    @include backface-hack();
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    min-height: 60px;
    padding: 15px 20px;
    background-color: color('cookieAlert', 'background');

    &,
    &__wrapper {
        @include flex();
        @include align-items-center();
        @include justify-content-center();
    }

    &__wrapper {
        @include limited-full-width();

        a,
        p,
        img,
        svg {
            display: inline;
        }

        svg {
            margin-right: 10px;

            @include breakpoint(small) {
                display: none;
            }
        }

        a {
            position: relative;
            color: color('text', 'subheading');
            border-bottom: 1px solid color('text', 'subheading');
            text-decoration: none;

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }

        @include breakpoint(small) {
            @include flex-column();
        }
    }

    &__message {
        margin-right: auto;
        font-size: em(15px);
        line-height: 16px;
        color: color('text', 'subheading');

        @include breakpoint(small) {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            font-size: em(12px);
        }
    }

    &__button {
        @include button();
        position: relative;
        min-width: 70px;
        height: 34px;
        padding: 8px;
        margin-left: 20px;
        background-color: color("text", "subheading");
        border: 0;
        outline: none;

        @include font("IntervalNextMed");
        font-size: em(14px);
        color: color("primary", "highlight");

        &:hover {
            cursor: pointer;
        }

        @include breakpoint(small) {
            margin-top: 12px;
        }
    }
}
