.button {
  position: relative;
  display: table;
  background-color: color('primary');
  border-radius: 4px;
  text-align: center;
  color: color('primary', 'contrast');
  @include padding();
  @include _(button-text);

  &:hover {
    cursor: pointer;
    background-color: color('primary', 'medium');
  }
  &:active {
    background-color: color('primary', 'dark');
  }

  &--success,
  &--error,
  &--warning,
  &--disabled {
    color: color('primary', 'contrast');
  }

  &--success {
    background-color: color('success', 'light');
    color: color('success');

    &:hover {
      background-color: color('success');
      color: color('primary', 'contrast');
    }
  }
  &--error {
    background-color: color('error', 'light');
    color: color('error');

    &:hover {
      background-color: color('error');
      color: color('error', 'contrast');
    }
  }
  &--warning {
    background-color: color('warning', 'light');
    color: color('warning');

    &:hover {
      background-color: color('warning');
      color: color('warning', 'contrast');
    }
  }
  &--disabled,
  &--disabled:hover {
    cursor: not-allowed;

    background-color: color('gray', 'disabled_light');
    color: color('primary', 'contrast');
  }
}
