.button {
  position: relative;
  display: table;
  background-color: $primary-color;
  border-radius: 4px;
  text-align: center;
  color: $primary-color-text;
  @include padding();
  @include _(button-text);

  &:hover {
    cursor: pointer;
    background-color: $allports;
  }
  &:active {
    background-color: $prussian-blue;
  }

  &--success,
  &--error,
  &--warning,
  &--disabled {
    color: #fff;
  }

  &--success {
    background-color: $success-text;
    color: #fff;

    &:hover {
      color: $success-text;
      background-color: $success;
    }
  }
  &--error {
    background-color: $error-text;
    color: #fff;

    &:hover {
      color: $error-text;
      background-color: $error;
    }
  }
  &--warning {
    background-color: $warning-text;
    color: #fff;

    &:hover {
      color: $warning-text;
      background-color: $warning;
    }
  }
  &--disabled,
  &--disabled:hover {
    cursor: not-allowed;

    background-color: #fff;
    border: 2px solid $input-border-color;
    color: $input-border-color;
  }
}
