@mixin multi-selector() {
    @include flex();
    width: 100%;
    height: 48px;
    border: 2px solid color('borders');
    border-radius: 4px;
    overflow: auto;

    & > div {
        @include flex();
        @include align-items-center();
        @include justify-content-center();
        flex-grow: 1;
        width: 50%;
        background-color: color('background');
        position: relative;
        padding: 0 16px;

        &:not(:first-child) {
            border-left: 2px solid color('borders');
        }
    }

    label {
        @include flex();
        @include align-items-center();
        @include justify-content-center();
        @include font('IntervalNextBook');
        font-size: em(20px);
        line-height: 1;
        color: color('buttons','disabled-text');
        width: auto;
        height: 100%;
        cursor: pointer;
        white-space: nowrap;
    }

    input[type="radio"] {
        @include visually-hidden();

        &:checked + label {
            color: color('text','subheader');

            & > svg {
              display: block;
            }
        }
    }

    svg {
        display: none;
        margin-right: 12px;
        fill: color("input", "label");
    }
}
