@mixin progress-bar() {
    @include backface-hack();
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    overflow: hidden;
    background-color: color('background', 'progress-bar');
    
    &__bar {
        content: "";
        position: relative;
        display: block;
        width: 0px;
        height: 100%;
        border-radius: 2px;
        background-color: color('primary');
        transition: width .3s ease-out;
        z-index: 2;
        will-change: width;
    }
}
