@mixin status-tag {
    @include font("IntervalNextMed");
    border-radius: 2px;
    font-size: em(14px);
    padding: 2px 9px 4px 9px;

    &--critical {
        color: color('status-tag', 'critical-text');
        background-color: color('status-tag', 'critical-background');
    }

    &--info {
        color: color('status-tag', 'info-text');
        background-color: color('status-tag', 'info-background');
    }
}
