// Color Pallette
$palette: (
  'primary': (
    'primary': #00adef,
    'light': #3b9eff,
    'translucent': rgba(157, 206, 255, 0.25),
    'divider': #d1d5da,
    'disabled': #888,
    'highlight': #fff
  ),
  'buttons': (
    'primary': #fff,
    'hover': #ecf5ff,
    'pressed': #33bdf2,
    'alternative': #44c482,
    'disabled': #f0f1f3,
    'disabled-text': #d1d5da,
    'facebook': #3b5998,
    'light': rgba(34, 66, 81, .4)
  ),
  'tabs': (
    'background': #f0f1f3,
    'border': #d1d5da,
  ),
  'text': (
    'primary': #575757,
    'subheading': #434343,
    'title': #303030,
    'subtitle': #888,
    'subheader': #224251,
    'body': #575757,
    'highlight': #fff,
    'input': #888,
    'modal': #6b6b6b,
    'header': #545d69,
    'close': #b2b9c2
  ),
  'anchor' : (
    'negative' : #fff,
    'alternative' : #616161,
    'light': #52cfff
  ),
  'borders': (
    'primary': #d1d5da,
    'light': #f0f0f0,
    'gallery-item': #e0e0e0
  ),
  'background': (
    'primary': #fff,
    'secondary': rgba(250, 250, 250, 0.55),
    'light': #f0f0f0,
    'modal': #fafafa,
    'gallery-item': #f0f0f0,
    'translucent': rgba(0,0,0,0.35),
    'hover': #E6F8FD,
    'progress-bar': #f0f1f3
  ),
  'input': (
    'primary': #3b9eff,
    'disabled': #888,
    'border': #d1d5da,
    'focus': #ecf5ff,
    'mobile-border': #d6d6d6
  ),
  'dropdown': (
    'primary': #f5f9fc,
    'hover': #e6f0f7
  ),
  'feedback': (
    'success': #44c482,
    'success-light': #9bdfb8,
    'warning': #fff2b6,
    'error': #ff6b6b,
    'info': #00adef,
    'text': #224251
  ),
  'pill': (
    'success': #44c482,
    'warning': #ffb104,
    'error': #ff6b6b,
    'info': #00adef,
    'text': #fff
  ),
  'modal': (
    'separator': #d8d8d8,
    'thumbnail': #667485,
    'backdrop': rgba(0,0,0,0.5)
   ),
  'footer': (
    'background': #fafafa,
    'background-dark': #224251,
    'divider': #f0f1f3,
    'cell-header': #224251,
    'text-light': #fff
  ),
  'step-card': (
    'first-bar': #26c6da,
    'first-gutter': rgba(38, 198, 218, 0.3),
    'second-bar': #fabc63,
    'second-gutter': rgba(249, 188, 99, 0.3),
    'third-bar': #9575cd,
    'third-gutter': rgba(148, 117, 205, 0.3)
  ),
  cookieAlert: (
    'background': #e1e4e6
  )
);

$primary-color-key: 'primary' !default;

@function color($name: 'primary', $variant: $primary-color-key) {
  $color: null;
  // Get the color spectrum
  $color-spectrum: map-get($palette, $name);
  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);

    @if not($color) {
      @color "Color `#{$variant}` does not exist in spectrum `#{$name}`";
    }
  } @else {
    @warn "Spectrum `#{$name}` does not exist";
  }

  @return $color;
}
