$uniplaces-blue: #00adef;
$dark-blue: #0076a3;

$success-green: #8bc34a;
$error-red: #f44336;
$error-red-text: #ff7473;
$warning-yellow: #ffc107;

$primary-color: $uniplaces-blue;
$main-background-color: #fafafa;

$primary-color-text: #fff;
//$text-color: #212121;
$primary-text-color: rgba(0,0,0,0.87);
$secondary-text-color: rgba(0,0,0,0.54);
$disabled-text-color: rgba(0,0,0,0.38);

$label-text-color: #5a6672;
$input-border-color: #d9e1e8;
$button-hover-background-color: #91d7f2;

$disabled-background-color: #a9bbcb;
$dialog-text-color: #4e4e4e;
