@mixin uni-clearfix() {
    &,
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
        overflow: auto;
        float: none;
    }
}
@mixin limited-full-width() {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
// hack - improve scrolling performance on mobile android browsers and mobile safari
@mixin backface-hack() {
	backface-visibility: hidden;
}
