@mixin uni-clearfix() {
    &,
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
        overflow: auto;
        float: none;
    }
}
@mixin micro-clearfix() {
  &:after,
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin limited-full-width() {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
// hack - improve scrolling performance on mobile android browsers and mobile safari
@mixin backface-hack() {
	backface-visibility: hidden;
}
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
