$base-font-size: 18; // Default font-size

@function em($pixels, $context: $base-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
@mixin heading() {
    font-size: em(34px);
    color: color('text','title');
}
@mixin subheading() {
    font-size: em(21px);
    color: color('text','subheading');
}
@mixin title() {
    font-size: em(24px);
    color: color('text','title');
}
@mixin subtitle() {
    font-size: em(20px);
    line-height: 22px;
    color: color('text','subtitle');
}
@mixin body() {
    font-size: em(18px);
    line-height: 21px; 
    color: color('text','body');
}
@mixin button-text() {
    font-size: em(20px);
    text-align: center;
}
@mixin anchor() {
    color: color('primary');
    text-decoration: none;
}
